{% extends "layout" %}
{% block title %}{{ super() }} | {{ food.title }} {% endblock %}
{% block body %}
<div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
  <div class="rounded-lg">
    <div>
      <img src="{{ food.img }}"></img>
    </div>
    <div>
      <div class="flow-root">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">品名</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ food.product_name }}</dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">品牌商</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ food.brand_owner }}</dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">品牌商地址</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ food.brand_owner_addr }}</dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">生产商</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ food.manufacturer }}</dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">生产商地址</dt>
            <dd class="text-gray-700 sm:col-span-2"> {{ food.manufacturer_addr }} </dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">生产许可证号</dt>
            <dd class="text-gray-700 sm:col-span-2"> {{ food.manufacturer_license_number }} </dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">产品执行标准</dt>
            <dd class="text-gray-700 sm:col-span-2"> {{ food.product_standard }} </dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">净含量</dt>
            <dd class="text-gray-700 sm:col-span-2"> {{ food.net_content }} </dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">参考价格</dt>
            <dd class="text-gray-700 sm:col-span-2"> {{ food.reference_price }} </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="rounded-lg lg:col-span-2">

    <article class="rounded-xl  bg-white">

      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <div>
          <h1 class="font-medium sm:text-lg"> {{ food.title }} </h3>
            <p class="line-clamp-2 text-sm text-gray-700">
              {{ food.describe }}
            </p>
        </div>
      </div>
    </article>
    <article class="rounded-xl  bg-white">
      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <div>
          <h3 class="font-medium sm:text-lg">原料组成</h3>
          <p class="line-clamp-2 text-sm text-gray-700">
            {{ food.ingredients }}
          </p>
        </div>
      </div>
    </article>
    <article class="rounded-xl  bg-white">
      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <div>
          <h3 class="font-medium sm:text-lg">制作方式</h3>
          <p class="line-clamp-2 text-sm text-gray-700">
            {{ food.production_method }}
          </p>
        </div>
      </div>
    </article>
    <article class="rounded-xl  bg-white">
      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <div>
          <h3 class="font-medium sm:text-lg">添加剂组成</h3>
          <p class="line-clamp-2 text-sm text-gray-700">
            {{ food.additives }}
          </p>
        </div>
      </div>
    </article>
    <article class="rounded-xl  bg-white">
      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <div>
          <h3 class="font-medium sm:text-lg">产品成分分析保证值</h3>
          <p class="line-clamp-2 text-sm text-gray-700">
            {{ food.guaranteed_analysis }}
          </p>
        </div>
      </div>
    </article>
    <article class="rounded-xl  bg-white">
      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <div>
          <h3 class="font-medium sm:text-lg">评论</h3>
          <p class="line-clamp-2 text-sm text-gray-700">
          </p>
        </div>
      </div>
    </article>

  </div>
  <div class="rounded-lg">
    <div>
      <a href="/cat/food/edit/{{ food.gid }}">编辑</a>
    </div>
  </div>
</div>
{% endblock %}
