<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}CatFood{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        container: {
          center: true
        }
      }
    }
  </script>
</head>

<body>
  <div class="w-full bg-gray-100 p-4 shadow">
    <nav class="flex justify-between items-center">
      <a href="/" class="text-lg font-bold">CatFood | 宠物界的豆瓣</a>
      <ul class="flex space-x-4">
        <li><a href="/about" class="hover:underline">关于</a></li>
        <li><a href="#" class="hover:underline">猫粮</a></li>
      </ul>
    </nav>
  </div>
  <div class="container mx-auto pt-2">
    {% block body %}{% endblock %}
  </div>
</body>

</html>
